[Unit]
Description=Runs Prologue as a service
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
ExecStart=/usr/bin/postlogue -c /etc/postlogue/settings.yaml
Environment=

[Install]
WantedBy=multi-user.target 
